#wrapper {
	outline: 1px solid #DBDBDB;
	padding: 10px;
	min-width: 1000px;
	max-width: 1700px;
	margin: 10px auto;

}


#SidebarL {
	background-color: #DB8427;
	width: 300px;
	margin: 10px 10px 0 0;
	float: left;
	}

#SidebarR {
	background-color: #DB8427;
	width: 300px;
	margin: 10px 0px 0 10px;
	float: right;
}


#Content {
	background-color: #6A52A0;
	margin:10px 310px 0 310px;
	background-position: center;
}

#clear {
	clear: both;
}